html, body {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    overflow-x: hidden;

}

div.main1 {
    width:100%;
    height: 900px;
    overflow-x: hidden;
   
    background-color: #49bcf1;
}
   
/*---------------PART 1 / NavBar-----------------------*/
div.main_navi {
    
    padding-top: 20px;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
}
   
p.nav_text {
    margin-right: 50px;
    margin-top: 40px;
    font-family: 'Barlow';
    color:white;
}

img.burger {
    display: none;
}


div.contact {
    background-color: white;
    border-radius: 30px;
    margin-right: 50px;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 40px;
    width: 100px;
    opacity: 1.0;
}


div.contact:hover {
    opacity: 0.5;

    p.nav_contact {
        color: white;
        opacity:initial;
    }
}

p.nav_contact {
    color: black;
    align-self: center;
    font-family: 'Fraunces';
    font-size: 10px;
    
}

div.title {
   
    height: 100px;
    width: 170px;
    position:relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 1200px;
}

p.title2responsive {
    display: none;
}
    
p.main1_title {
    font-family: 'Fraunces';
    color: white;
    font-size: 30px;
}
/*---------------------------------------------*/

/*---------------------MainCONTENT--------------*/

div.main_content {
   
    width: 100%;
    height:777px;
    display: flex;
    flex-direction: column;
    align-items: center;

    
}

p.title2 {
    margin-top: 120px;
    font-size: 75px;
    font-family: 'Fraunces';
    color: white;
    letter-spacing: 5px;
}

img.pamp {
    margin-top: 128px;
    width:40%;
}



/*---------------------END PART1 / START PART 2--------------------------*/

div.main2 {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: row;

    
}

div.left1 {
    width: 50%;
    height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/*------------------Right1------------------*/
div.right1 {
    width:50%;
    height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:#f7d600;
    
}

img.egg {
    width: 500px;
}
/*---------------*/

/* ---------------- Left1 ------------ */
p.main2_text {
    font-family: 'Barlow';
    font-size: 25px;
}

span.paragraph_title {
    font-size: 45px;
}

span.more:hover {
    text-decoration: underline yellow 5px;
}

/*--------------*/

/*-------------------FIN PART 2 / START PART 3 ------------------*/


div.main3 {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: row;
}
/*------------Left2-------------*/
div.left2 {
    width: 50%;
    height: 700px;
    background-color: #fe7968;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

img.verre {
    width: 400px;
    height: 90%;
}
/*----------------*/

/* ---------------- Right2 ------------ */

div.right2 {
    width: 50%;
    height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

p.main3_text {
    font-family: 'Barlow';
    font-size: 25px;
}

span.paragraph_title2 {
    font-size: 45px;
}

span.more2:hover {
    text-decoration: underline 5px;
    text-decoration-color:#fe7968 ;
}

/*--------------*/

/*--------------------- FIN PART 3 / START PART 4 -----------------------*/

div.main4 {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: row;

}
/*------------------Left3-------------------*/
div.left3 {
    width: 50%;
    height: 700px;
    background-color: #65b4a4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

img.cherry {
    width: 550px;
}
p.describe_cherry {
    font-family: 'Barlow';
    font-size: 25px;
    margin-bottom: 85px;
}

span.cherry_title {
    font-size: 35px;
}

/*---------------*/

/*----------------------Right3-------------*/

div.right3 {
    width: 50%;
    height: 700px;
    background-color: #66cbf8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

img.orange {
    width: 650px;
}

p.describe_orange {
    font-family: 'Barlow';
    font-size: 25px;
    margin-bottom: 100px;
}

span.orange_title {
    font-size: 35px;
}

/*---------*/

/*----------------FIN PART 4 / START PART 5 ------------------- */


div.main5 {
    width:100%;
    height: 900px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

div.top {
    width: 100%;
    height: 200px;
    align-self: flex-start;
}

p.client {
    font-family: 'Fraunces';
    font-size: 30px;
    color: gray;
    letter-spacing: 10px;
    align-self: flex-start;
    position: absolute;
    margin-left: 650px;
    margin-top: 200px;
}

div.part1 {
    width: 33.33%;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
img.pic {
    width: 150px;
}

p.describe_client {
    font-size: 20px;
    font-family: 'Barlow';
}

p.functions {
    color: gray;
    font-family: 'Barlow';
}

p.name_client {
    font-family: 'Barlow';
    font-weight: bold;
}

div.part2 {
    width: 33.33%;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.part3 {
    width: 33.33%;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*----------------------------FIN PART 5 / START PART 6-------------------------*/

div.main6 {
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: row;
}

div.picture1 {
    width: 25%;
    height: 550px;
}

div.picture2 {
    width: 25%;
    height: 550px;
}
    

div.picture3 {
    width: 25%;
    height: 550px;
}

div.picture4 {
    width: 25%;
    height: 550px;
}

img.pic1 {
    width: 100%;
    height: 100%;
}

/*----------------------------FIN PART 6 / START PART 7-------------------------------------*/

div.main7 {
    width: 100%;
    height: 400px;
    background-color: #90d4c6;
    display: flex;
    flex-direction: column;
}

div.coupure1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 200px;
}

p.main7_title {
    margin-top: 100px;
    margin-right: 20px;
    font-family: 'Fraunces';
    color: #0E956A;
    font-size: 50px;
}

p.main7_text {
    font-family: 'Barlow';
    color:#0E956A;
    margin-right: 40px;
}

div.coupure2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    width: 100%;
    height: 100px;
}

div.coupure3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    width: 100%;
    height: 100px;
}

img.icons {
    width: 50px;
    height: 50px;
    margin-right: 30px;
}

/*-------------------END-----------------------------*/


/*----------------------------RESPONSIVE---------------*/

@media screen and (max-width:1300px) {

    body {
        position: absolute;
        overflow-x: hidden;
        
    }

    div.main1 {
        overflow: hidden;
    }

    div.main_navi {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    p.nav_text {
        display: none;
    }

    div.contact {
        display: none;
    }

    p.main1_title {
        margin-left: 40px;
    }
    
    p.title2 {
        display: none;
    }

    p.title2responsive {
        height: 100px;
        position:relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-left: 140px;
        font-family: 'Fraunces';
        color: white;
        font-size: 40px;
    }

    img.burger {
        display: block;
        position: absolute;
        margin-left: 520px;
        margin-top: 20px;
    }

    img.pamp {
        margin-top: 350px;

    }

    div.main_content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    div.main2 {
        display:flex;
        flex-wrap: nowrap;
        flex-direction: column-reverse;
        height: auto;
        
    
    }

    div.left1 {
        width: 90%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        
        p.main2_text {
            margin-left: 50px;
            text-align: center;
            font-size: 20px;
        }
    }
    
    div.right1 {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        float: left;

        img.egg {
            float: left;
            align-self: flex-start;
            margin-left: 150px;
        }
    }

    div.main3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    div.main4 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: nowrap;
        height:auto;
        margin-top: 700px;
    }

    div.left2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        float: left;
            
            img.verre {
                float: left;
                align-self: flex-start;
                margin-left: 150px;
                margin-top: 87px;

            }
    }

    div.right2 {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: nowrap;
        position:relative;

        p.main3_text {
            text-align: center;
            margin-top: 250px;
            font-size: 20px;
            margin-left: 50px;
        }
    }

    div.main5 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

    }

    p.client {
        position: inherit;
        align-self: flex-start;
        margin-left: 0px;
        margin-top: 100px;
    }

    div.part1 {
        margin-bottom: 40px;
    }

    div.part2 {
        margin-bottom: 40px;
    }

    div.part3 {
        margin-bottom: 40px;
    }

    div.main6 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    div.picture1 {
        margin-top: 300px;
    }

    div.picture2 {
        position: absolute;
        margin-top: 300px;
        margin-left: 25%;
    }

    div.picture4 {
        position: absolute;
        margin-top: 730px;
        margin-left: 25%;
    }

    div.main7 {
        position: absolute;
        margin-top: 610px;

        div.coupure1 {
            display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-left: 180px;
        }
       
        div.coupure2 {
            display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        margin-left: 180px;
    
        }
        div.coupure3 {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        margin-left: 150px;
            
    
        }
     }

     


    
}



